<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<!-- test thread-count="2" name="RCBTestPositive" -->
	<test thread-count="5" name="RCBTestPositive">
		<parameter name="fileName" value="TeamRCB"></parameter>
		<parameter name="fpCount" value="4"></parameter>
		<parameter name="wkCount" value="1"></parameter>
		<classes>
			<class name="ipl.testcases.TC001" />
			<class name="ipl.testcases.TC002" />
		</classes>
	</test> <!-- Test -->
	<test thread-count="5" name="RCBTestNegative">
		<parameter name="fpCount" value="10"></parameter>
		<parameter name="wkCount" value="5"></parameter>
		<classes>
			<class name="ipl.testcases.TC003" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
